*{
margin: 0;
padding: 0;
box-sizing: border-box;
color: white;
font-family: sans-serif;

}
h1{
    margin-top: 30px;
   
}
body{
width: 100%;
height: 100vh;
background-image:url(./photo_2025-09-26_18-22-38.jpg) ;
background-size: cover;
background-position: center;
display:flex  ;
justify-content: center;
align-items: center;
}
.input-tex{
    width: 330px;
    height: 50px;
    margin-top: 40px;
    margin-left: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 13px;
    border: solid 1px    ;

}
.input-tex:hover{
     box-shadow:1px 1px 13px 7px white ;
}
.login{
    width: 400px;
    height: 500px;
    border-radius: 20px;
    border:solid 1px;
    transition: .7s;
    text-align: center;
    box-shadow: 1px 1px 13px 7px rgba(255, 252, 252, 0.318);
}
.login:hover{
    box-shadow: 1px 1px 13px 7px blue;
}
.end{
    font-size: 24px  ;
    
}
input{
    width: 250px;
    height: 33px;
    border: none;
    background-color: rgba(0, 255, 255, 0);
}
.in-button{
    width: 330px;
    height: 50px;
    border-radius: 15px;
    margin-top: 50px;
    cursor: pointer;
    background-color: rgba(0, 255, 255, 0.051);
    font-size: 19px;
    border: solid 1px;
    
}
p{
    margin-top: 12px;
    color: white;

}
.men{
    width: 120px;
    height: 33px;
    font-size: 17px;
    border-radius: 5px;
    margin: 20px;
    border: none;
    cursor: pointer;
   background-color: rgba(251, 255, 0, 0.147);

}
